{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Converter</title>
    <link rel="icon" href="../static/imgs/logo_small.png">

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/alert.css">

    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.css"/>

    <!-- CodeMirror 3024-Night Theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/theme/3024-night.min.css" />

    <style>
        cm-invalidchar {color: transparent !important;}
        cm-s-default cm-error {color: transparent !important;}
    </style>
    
    <!-- CodeMirror JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.js"></script>

    <!-- CodeMirror Language Modes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/python/python.min.js"></script>

    <!-- SweetAlert2 Dark Theme -->
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    
    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <link rel="stylesheet" href="../static/css/after_render.css">

</head>

<body>
    <header>
        <img src="../static/imgs/logo.png" alt="T7 code converter" class="logo">
    </header>
    <div class="content">
        <div class="lan_list">
            <div class="input_lan">
                <p class="from_lan">&nbspFrom Language&nbsp</p>
                <select name="input-select" id="my-select-in" onchange="updateValue()" >
                    <option value="java">JAVA</option>
                    <option value="py">PYTHON3</option>
                    <option value="cpp">C++</option>
                </select>
            </div>
            <div class="output_lan">
                <p class="to_lan">&nbspTo Language&nbsp</p>
                <select name="output-select" id="my-select-out" onchange="updateValue()">
                    <option value="py">PYTHON3</option>
                    <option value="java">JAVA</option>
                    <option value="cpp">C++</option>
                </select>
            </div>
        </div>
        <div class="textarea">
            <div class="input_text">
                {% csrf_token %}
                <textarea name="input_textarea" id="input_textarea" cols="30" rows="10"></textarea>
                <label name="import" class="import">
                    <input type="file" class="file_import">
                    <p class="im-text">Import</p>
                    <img src="../static/imgs/back.png" alt="" class="back-import">
                    <img src="../static/imgs/import.png" alt="" class="import-icon">
                </label>
            </div>
            <div class="line"></div>
            <div class="output_text">
                {% csrf_token %}
                <textarea name="output_textarea" id="output_textarea" cols="30" rows="10" disabled></textarea>
                <label name="export" class="export">
                    <img src="../static/imgs/back.png" alt="" class="back-export">
                    <p class="ex-text">Export</p>
                    <img src="../static/imgs/export.png" alt="" class="export-icon">
                </label>
            </div>
        </div>
        <div class="count">
            <span id="input_count">0</span>
            <span>/</span>
            <span id="input_limit">1000</span>
        </div>
        <div class="btn">
            <button id="convert-btn">CONVERT</button>
        </div>
    </div>
    <footer></footer>
    <script src="../static/js/index.js"></script>
    
</body>

</html>